h1 {
    justify-content: center;
    color: rgba(255, 255, 255, 0.43);
    font-family: Open Sans;
    font-size: 2.0625rem;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}