  body {
    height: 100vh;
    padding: 14.63rem 0 20.31rem 0;
    background-image: linear-gradient(0deg, #A1D8FFA1 -123%, #30D9D100 -26%, #000000FF 74%),radial-gradient(34% 215% at 70% 75%, #4107FF21 20%, #083EF300 39%),radial-gradient(31% 76% at 49% 85%, #16A4F0FF 14%, #718AFFFF 100%);
  }